<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>
                    Category
                </td>
                <td>
                    <input type="text" name="District" id="District">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="centre">
                    <input type="button" value="Save">
                    <input type="button" value="Cancel">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>