<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<body>
    <form action="" method="post">
        <table border="2">
            <tr>
                <td>
                    District
                </td>
                <td>
                    <select name="District" id="District">
                        <option value="none" selected disabled hidden>--select--</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Idukki">Idukki</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Place
                </td>
                <td>
                    <input type="text" name="Place" id="Place">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="Save">
                    <input type="button" value="Cancel">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>