<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subcategory</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>
                    Category
                </td>
                <td>
                    <select name="Categoryop" id="Category">
                        <option value="none" selected disabled hidden>--select--</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Idukki">Idukki</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Subcategory
                </td>
                <td>
                    <input type="text" name="Subcategory" id="Subcategory">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="centre">
                    <input type="button" value="Submit">
                    <input type="button" value="Cancel">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>